@font-face{
    font-family: "flappybirdnum";
    src: url("fonts/FlappyBird.TTF");
}

*{
    margin: 0;
    padding: 0;
}
#canvas{
    border: 5px solid black;
    height: calc(100% - 10px);
    aspect-ratio: 3/4;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: url(images/Background.png);
    background-size: auto calc(100% - 74px);
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
}